/* start custom scss snippet */

@keyframes cursor {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.header__brand {
    & > a {
        font-family: monospace;
        position: relative;
        span {
            --delay: 10s;
            
            display: inline-block;
            overflow: hidden;
            width: 0ch;
            animation: 0.1s text-in ease-in-out forwards;
            animation-delay: var(--delay);
        }
        ::after{
            content: '';
            display: inline-block;
            position: absolute;
            width: 0.6ch;
            height: 1rem;
            background-color: rgb(255, 255, 255);
            border-radius: 1px;
            right: -10px;
        }
        .ended::after{
            animation: 1.1s cursor steps(2, jump-none) infinite;
        }
    }
}


@keyframes text-in {
    from {
        width: 0ch;
    }
    to {
        width: 1ch;
    }
}


/* end custom scss snippet */